/* src/Timer.css */
.clock {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.492);
}
.hand {
  position: absolute;
  width: 47%;
  height: 5px;
  background: black;
  z-index: 20;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
  transform-origin: 0% 50%;
  transform: rotate(0deg);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.controls {
  margin: 10px;
}

.controls input {
  margin: 5px;
  padding: 5px;
  width: 60px;
  font-size: 16px;
  text-align: center;
}

.controls button {
  padding: 5px 10px;
  font-size: 16px;
  margin: 5px;
}

.center-dot {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
}

.marking {
  position: absolute;
  width: 2px;
  height: 20px;
  background: black;
  top: 44%;
  left: 49.75%;
  transform-origin: center bottom;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  background: #ccc;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}
.avatar {
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: #fff; /* Example background color */
  color: #4caf50; /* Example text color */
  border-radius: 50%; /* Creates a round shape */
  display: inline-block;
  margin-right: 8px; /* Adjust spacing as needed */
}
